.cframe {
    border-top:1px solid #00F;
    border-bottom:1px solid #00F;
    border-left:1px solid #00F;
    border-right:1px solid #00F;
    border-radius:5px;
    padding: 10px
}
.line {
    margin-top: 10px;
    height: 1px;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-bottom: 10px;
}
pre {
    padding: 5px;
    }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }